/* Global */
a,
a:hover,
a:active {
    color: #d0202d;
}
.module-title {
    color: #e62332;
}
.button-theme {
    background-color: rgba(186, 29, 40, 0.9);
}
.button-theme:hover {
    background-color: rgba(208, 32, 45, 0.9);
}
.button-light {
    border-color: #ba1d28;
    color: #ba1d28;
}
.button-light:hover {
    border-color: #d0202d;
    color: #d0202d;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #d0202d;
}
.tabbable .nav-tabs li > a {
    color: #e62332;
}
.tabbable .nav-tabs li.dropdown .dropdown-menu li.active > a {
    background: #e62332;
}
.wrap .alternative-text {
    color: #e62332;
}
/* Global Nav*/
.players-top-navigation {
    background: #d0202d;
}
.players-top-navigation .logos {
    background: #d0202d;
    /* Logos BG for example #FFF */
}
.players-top-navigation .logos .partners .title span {
    background: #d0202d;
    /* BG should be same as for .logos #FFF */
}
.players-top-navigation .logos .partners .title:before {
    /* BG should be same color as title color #000 */
}
.players-top-navigation .dropdown-menu > li a:hover,
.players-top-navigation .dropdown-menu > li a:focus {
    background: #d0202d;
}
.players-top-navigation .nav-container .nav-container-inner {
    background: #d0202d;
}
.players-top-navigation .dropdown-menu {
    background: #ba1d28;
}
.players-top-navigation .nav > li.open > a {
    background: #ba1d28;
}
.players-top-navigation .nav > li > a:hover,
.players-top-navigation .nav > li > a:focus {
    background: #ba1d28;
}
.players-top-navigation .l-drillDownWrapper .l-ddbc:hover,
.players-top-navigation .l-drillDownWrapper .l-drillDown li:hover {
    background: #ba1d28 !important;
}
.players-top-navigation .navbar .navbar-inner .nav-menu:before {
    border-top-color: #e62332;
}
.players-top-navigation .navbar .navbar-inner .nav-social:before {
    border-top-color: #e62332;
}
/* Hero */
.hero-module.alternative-text .title,
.hero-module li.alternative-text .title,
.hero-module.alternative-text .sub-title,
.hero-module li.alternative-text .sub-title {
    color: #e62332;
}
.button-hero {
    background-color: rgba(0, 0, 0, 0.9);
}
.button-hero:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Full Width Teaser */
.full-width-teaser-module .box-content {
    background-color: rgba(208, 32, 45, 0.9);
}
.full-width-teaser-module.framed .block-title {
    color: #e62332;
}
.full-width-teaser-module.text-only .block-title {
    color: #e62332;
}
.full-width-teaser-module .block-title {
    color: #000000;
}
/* Current Champion */
.current-champion-module .current-champion-status {
    color: #000000;
}
/* Current Leader */
.current-leaders-module .tp-arrows {
    background-color: #d0202d;
}
.current-leaders-module .top-five-table th {
    color: #d0202d;
}
.current-leaders-module .top-five-table .name-col {
    color: #d0202d;
}
.current-leaders-module .current-leader-name {
    color: #e62332;
}
.current-leaders-module .current-leader-details .leader-data-title {
    color: #d0202d;
}
.current-leaders-module .top-five-table .action:before,
.current-leaders-module .top-five-table .action:after {
    color: #d0202d;
}
/* Previous Champions */
.previous-champions-module .section-title {
    color: #e62332;
}
.previous-champions-module .previous-champion-name {
    color: #d0202d;
}
.previous-champions-module .previous-champion-year {
    background-color: #000000;
}
/* Social Tiles */
.tournament-2-social-tiles.home-page {
    background: #d0202d;
}
.tournament-2-social-tiles.home-page .tiles-title {
    color: #ffffff;
}
.tournament-2-social-tiles.home-page .get-players-updates .title,
.tournament-2-social-tiles.home-page .follow-us .title {
    color: #000000;
}
.tournament-2-social-tiles.home-page .hub-list .hub-content-container .content .content-author-username a,
.tournament-2-social-tiles.home-page .hub-list .hub-content-container .content .content-body-main a {
    color: #000000;
}
.tournament-2-social-tiles.home-page.darken {
    background: #a41923;
}
.tournament-2-social-tiles.home-page.lighten {
    background: #fc2737;
}
.tournament-2-social-tiles.home-page.lighten .get-players-updates {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}
.tournament-2-social-tiles.home-page.darken .tiles-title,
.tournament-2-social-tiles.home-page.lighten .tiles-title {
    color: #ffffff;
}
.tournament-2-social-tiles.home-page.darken .get-players-updates .title,
.tournament-2-social-tiles.home-page.lighten .get-players-updates .title,
.tournament-2-social-tiles.home-page.darken .follow-us .title,
.tournament-2-social-tiles.home-page.lighten .follow-us .title {
    color: #ffffff;
}
.tournament-2-social-tiles.home-page.darken .hub-list .hub-content-container .content .content-author-username a,
.tournament-2-social-tiles.home-page.lighten .hub-list .hub-content-container .content .content-author-username a,
.tournament-2-social-tiles.home-page.darken .hub-list .hub-content-container .content .content-body-main a,
.tournament-2-social-tiles.home-page.lighten .hub-list .hub-content-container .content .content-body-main a {
    color: rgba(255, 255, 255, 0.6);
}
.tournament-2-social-tiles.article-page .hub-list .hub-content-container .content {
    color: #d0202d;
}
.tournament-2-social-tiles.article-page .hub-list .hub-content-container .content a {
    color: #d0202d;
}
.tournament-2-social-tiles.article-page .hub-list .hub-content-container .content .content-author-username a,
.tournament-2-social-tiles.article-page .hub-list .hub-content-container .content .content-body-main a {
    color: #000000;
}
.tournament-2-social-tiles.article-page .content-tweet .content-source-logo,
.tournament-2-social-tiles.article-page .content-instagram .content-source-logo,
.tournament-2-social-tiles.article-page .content-tweet .content-source-logo:hover,
.tournament-2-social-tiles.article-page .content-instagram .content-source-logo:hover {
    background-color: #d0202d;
}
/* Proud Partners */
.proud-partners-module .title {
    color: #e62332;
}
.sponsors-main-module .title {
    color: #e62332;
}
/* Article */
.article-body-text .article-body-text-cols .column-center .article-title {
    color: #d0202d;
}
.article-body-text .article-body-text-content .theme-color {
    color: #d0202d;
}
.article-blockquote {
    color: #d0202d;
}
.article-blockquote .author .author-container .name {
    color: #ba1d28;
}
/* Right Rail */
.right-rail-promo-module .title {
    color: #e62332;
}
/* Tickets Summary */
.ticket-summary-module .title {
    color: #e62332;
}
/* Course Overview */
.course-overview .tabbable .nav-tabs .tabbable-title-map,
.course-overview .tabbable .nav-tabs .tabbable-title-map span,
.course-overview-photo-gallery .tabbable .nav-tabs .tabbable-title-map,
.course-overview-photo-gallery .tabbable .nav-tabs .tabbable-title-map span {
    color: #e62332;
}
/* Weather Forecast */
.tournament-weather-forecast-hourly .weather-forecast-table .table-content .scroller-horizontal .thumb {
    background-color: #ba1d28;
}
.tournament-weather-forecast-hourly .weather-forecast-table .table-content .scroller-horizontal .thumb .end {
    background-color: #ba1d28;
}
/* Field */
.field-module .player-name {
    color: #d0202d;
}
.field-module .title,
.field-module .name {
    color: #d0202d;
}
.field-module .list-view.active,
.field-module .table-view.active {
    background-color: #d0202d;
}
/* Past Results */
.module-past-results .title {
    color: #e62332;
}
.module-past-results .header-row {
    color: #e62332;
}
/* Winning info */
.winnings-info-module {
    background-color: #ba1d28;
}
/* Best of Player */
.best-of-player-module .name {
    color: #e62332;
}
/* Past Winners */
.module-tournament-past-winners .blue-font {
    color: #d0202d;
}
.module-tournament-past-winners .custome-table th,
.module-tournament-past-winners .custome-table td {
    color: #d0202d;
}
/* Tee Time */
.tee-times-module .article-title {
    color: #e62332;
}
.tee-times-module .time-title {
    color: #e62332;
}
.tee-times-module .tee-time-course-title {
    color: #e62332;
}
.tee-times-module .tee-group-item-name {
    color: #d0202d;
}
/* TUT Pages */

.module-tournament-tut-pages .tut-pages-cols .tut-pages-main-content .content .section h3 {
    color: #d0202d;
}
.module-tournament-tut-pages .tut-pages-cols .tut-pages-main-content .content .section ul li:before {
    background: #d0202d;
}
/* TUT Course */
.tournament-course .tournament-course-cols .column-left .course-content .course-data-table th {
    background: #ba1d28;
    border-color: #d0202d;
}

/* Sponsors */
.sponsors-multi-tier-module .title, .sponsors-multi-tier-module .item, .url-block {
    color: #d0202d;
}

/* Addition Navigation */
.players-top-navigation.primary-dark .nav-addition,
.players-top-navigation.primary-dark .user-menu .dropdown-menu li .players-list li.player {
    background: #ba1d28;
}
.players-top-navigation.primary-dark .user-menu .wrapper.open,
.players-top-navigation.primary-dark .user-menu .dropdown-menu {
    background: #d0202d;
}
.players-top-navigation.primary-dark .nav-search.active,
.players-top-navigation.primary-dark .nav-search .search-dropdown {
    background: #ba1d28;
}
.players-top-navigation.primary-dark .user-menu .dropdown-menu li a:hover,
.players-top-navigation.primary-dark .user-menu .dropdown-menu li .active {
    background: #e62332;
}
.players-top-navigation.primary-dark .nav-search .search-dropdown .btn-submit {
    background: rgba(230, 35, 50, 0.9);
}
.players-top-navigation.primary-dark .nav-search .search-dropdown .btn-submit:hover {
    background: rgba(208, 32, 45, 0.9);
}
.players-top-navigation.primary-light .nav-addition,
.players-top-navigation.primary-light .user-menu .dropdown-menu li .players-list li.player {
    background: #e62332;
}
.players-top-navigation.primary-light .user-menu .wrapper.open,
.players-top-navigation.primary-light .user-menu .dropdown-menu {
    background: #d0202d;
}
.players-top-navigation.primary-light .nav-search.active,
.players-top-navigation.primary-light .nav-search .search-dropdown {
    background: #e62332;
}
.players-top-navigation.primary-light .user-menu .dropdown-menu li a:hover,
.players-top-navigation.primary-light .user-menu .dropdown-menu li .active {
    background: #ba1d28;
}
.players-top-navigation.primary-light .nav-search .search-dropdown .btn-submit {
    background: rgba(186, 29, 40, 0.9);
}
.players-top-navigation.primary-light .nav-search .search-dropdown .btn-submit:hover {
    background: rgba(208, 32, 45, 0.9);
}

/* Fan Jorney Tickets */
.fan-journey-tickets .media .tickets-added:before {
    border-top-color: #d0202d;
}
.fan-journey-cart .payment .payment-title {
    color: #d0202d;
}
.fan-journey-cart .sign-in .title {
    color: #d0202d;
}